* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  list-style: none;
  text-decoration: none;
}

header {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  font-family: "Poppins", serif;
  align-items: center;
  justify-content: space-between;
  padding: 2px 40px;
}

.logo img {
  max-width: 70px;
  height: auto;
}


.navmenu {
  display: flex;
}

.navmenu a {
  color: #084599;
  font-size: 24px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-family: "Poppins", serif;
  line-height: 1.6;
  font-weight: 600;
  transition: all .42s ease;
}

.navmenu :hover {
  color: #041a38;
}

.nav-icon {
  display: flex;
  align-items: center;
}

.nav-icon i {
  margin-right: 20px;
  color: #084599;
  font-size: 25px;
  font-weight: 400;
  transition: all .42s ease;
}

.nav-icon i:hover {
  transform: scale(1.1);
  color: #041a38;
}

/*banner */

.banner {
  text-align: center;
  background-color: #175eb6; 
}

.banner img {
  max-width: 100%;
  display: inline-block; 
}

/*Acercade*/

.tituloMulti h1{
  max-width: 100%;
  font-size: 48px;
  color: #175EB6;
  line-height: 1.6;
  font-family: "Poppins", serif;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}


.historia h1{
  font-size: 40px;
  color: #175EB6;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  line-height: 1.6;
  font-family: "Poppins", serif;
  font-weight: 700;
}

.historia p {
  font-size: 20px;
  margin-left: 20px;
  line-height: 1.6;
  color: #333333;
  font-family: "Poppins", serif;
  font-weight: 400;
}

.historia {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 0px; 
  padding: 20px;
}

.historia-content {
  flex: 1; 
  text-align: left;
  margin-left: 30px; 
}

.historia-img {
  flex: 1; 
  text-align: center;
  margin-left: 30px;
}

.historia-img img {
  max-width: 100%;
  height: 440px; 
}

/* vision */

.vision {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 300px; 
  text-align: center; 
  margin-top: 30px;
}

.vision .vision-info {
  max-width: 100%;  
}

.vision h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #175EB6;
  line-height: 1.6;
  font-family: "Poppins", serif;
  font-weight: 700;
}

.vision p {
  font-size: 24px;
  color: #333333;
  font-weight: 400; 
  padding-bottom: 10px;
  line-height: 1.6;
  font-family: "Poppins", serif;
  font-weight: 400;
  width: 1034px;
}

/* mision */

.mision {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 300px; 
  text-align: center; 
  margin-top: 30px;
}

.mision .mision-info {
  max-width: 90%;  
}

.mision h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #175EB6;
  font-weight: 700;
  line-height: 1.6;
  font-family: "Poppins", serif;
  font-weight: 700;
}

.mision p {
  font-size: 24px;
  color: #333333;
  font-weight: 400; 
  padding-bottom: 10px;
  line-height: 1.6;
  font-family: "Poppins", serif;
  font-weight: 400;
  width: 1050px;
}

/* footer */

footer {
  background-color: transparent;
  color: #fff;
  padding: 30px 20px;
  height: 430px;
  background-color: #175EB6;
  margin-top: 50px;
  line-height: 1.6;
  font-family: "Poppins", serif;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.6;
  font-family: "Poppins", serif;
  flex-wrap: wrap;
}

.logo-container img {
  max-width: 200px; 
  width: 150px; 
  height: 150px; 
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  font-size: 26px;
  line-height: 1.6;
  font-family: "Poppins", serif;
  color: #fff;
  font-weight: 700;
}

footer ul li {
  font-size: 20px;
  line-height: 1.6;
  font-family: "Poppins", serif; 
}

footer ul li a {
  text-decoration: none;
  color: #fff; 
  line-height: 1.6;
  font-family: "Poppins", serif;
}

footer ul li a:hover {
  font-family: "Poppins", serif;
  color: #041a38;
} 


.footer-section ul {
  list-style: none;
  padding: 0;
  line-height: 1.6;
  font-family: "Poppins", serif;
}

.footer-section a {
  text-decoration: none;
  color: #fff;
  line-height: 1.6;
  font-family: "Poppins", serif;
}

.footer-section a:hover {
  color: #041a38;
}

.logo-container p {
  font-size: 25px; 
  font-weight: bold;
  color: #fff;
  line-height: 1.6;
  font-family: "Poppins", serif; 
}

.social-icons a i {
  font-size: 40px; 
  width: 30px; 
  height: 30px;
  transition: transform 0.3s;
  margin-left: 30px;
  margin-top: 10px;
  color: #fff;
  line-height: 1.6;
  font-family: "Poppins", serif;
}

.social-icons img:hover {
  transform: scale(1.2);
  
}

/* derechos */

.derechos {
  text-align: left;
  padding-top: 15px;
  padding-left:20px;
  border-top: 1px solid #D9D9D9;
  text-align: center;
  line-height: 1.6;
  font-family: "Poppins", serif;
  font-size: 20px;
  justify-content: center;
  margin-top: 20px;
}
