<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOSOTROS</title>
    <link rel="stylesheet" href="nosotros.component.css">
    <link rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap"
      rel="stylesheet">
  </head>
  <body>

    <header>
      <a a routerLink="/paginaweb" routerLinkActive="active" ref="#" class="logo"><img
          src="../../../assets/logo.png" alt="logo"></a>
      <ul class="navmenu">
        <li><a routerLink="/paginaweb" routerLinkActive="active" ref="#">Inicio</a></li>
        <li><a routerLink="/servicios" routerLinkActive="active" ref="#servicios" >Servicios</a></li>
        <li><a routerLink="/nosotros" routerLinkActive="active" ref="#nosotros">Nosotros</a></li>
        <li><a  routerLink="/solicitar" routerLinkActive="active" ref="#solicitar">Solicitar
            Servicio</a></li>
      </ul>
      <div class="nav-icon">
        <a routerLink="/login" routerLinkActive="active" ref="#login"><i class='bx bx-user'></i></a>
        <a href="https://wa.me/51938135523"><i class='bx bxl-whatsapp'></i></a>
      </div>
    </header>

    <section class="banner">
      <img src="../../../assets/NOSOTROS.png" alt>
    </section>

    <section class="tituloMulti">
      <h1>Acerca de Multiservicios Tecnicos San Borja</h1>
    </section>

    <section class="historia">
      <div class="historia-content">
        <h1>Nosotros</h1>
        <p>Multiservicios Técnicos San Borja es una empresa de servicios
          técnicos y mantenimiento con más de 20 años de experiencia. Fundada en
          1996 en San Borja, Lima, ofrecemos soluciones en instalaciones
          eléctricas, reparación de electrodomésticos y venta de repuestos de
          marcas reconocidas. Nos enfocamos en brindar servicios de alta calidad
          y satisfacción garantizada para nuestros clientes.
          Contamos con un equipo de técnicos capacitados que trabajan bajo altos
          estándares de calidad. Actualmente, estamos ampliando nuestros
          servicios para incluir pintura, gasfitería y carpintería, ofreciendo
          una experiencia integral para el mantenimiento y mejora del hogar.
          Nuestro compromiso es brindar soluciones eficientes y confiables,
          consolidándonos como un aliado de confianza para nuestros
          clientes.</p>
      </div>
      <div class="historia-img">
        <img src="../../../assets/tecnico.png" alt>
      </div>
    </section>

    <section class="vision">
      <div class="vision-info">
        <h1>Vision</h1>
        <p>Ser una empresa líder en servicios técnicos y de mantenimiento,
          reconocida por su disponibilidad, prontitud y profesionalismo.
          Aspiramos a expandir nuestra oferta, incorporando servicios de
          pintura, gasfitería y carpintería, para brindar soluciones integrales
          que garanticen la comodidad, seguridad y satisfacción de nuestros
          clientes en cada visita.</p>
      </div>
    </section>

    <section class="mision">
      <div class="mision-info">
        <h1>Mision</h1>
        <p>Brindar soluciones de reparación y mantenimiento con un equipo de
          técnicos altamente capacitados, enfocados en ofrecer un servicio de
          calidad, con garantía y eficiencia, para satisfacer las necesidades de
          nuestros clientes en un solo lugar. Nos comprometemos a mantener altos
          estándares que aseguren la confianza y comodidad de nuestros usuarios
          en cada servicio.</p>
      </div>
    </section>

    <footer>
      <div class="footer-container">
        <!-- Logo y redes sociales -->
        <div class="footer-section logo">
          <div class="logo-container">
            <img src="../../../assets/logoblanco.png" alt>
            <p>Síguenos en:</p>
            <div class="social-icons">
              <a href="#" class="facebook"><i
                  class='bx bxl-facebook-circle'></i></a>
              <a href="https://wa.me/51938135523" class="instagram"><i class='bx bxl-whatsapp'></i></a>
            </div>
          </div>
        </div>

        <!-- Links -->
        <div class="footer-section links">
          <h3>Enlaces Rapidos</h3>
          <ul>
            <li><a routerLink="/paginaweb" routerLinkActive="active"
                ref="#">Inicio</a></li>
            <li><a routerLink="/servicios" routerLinkActive="active"
                ref="#servicios">Servicios</a></li>
            <li><a routerLink="/nosotros" routerLinkActive="active"
                ref="#nosotros">Nosotros</a></li>
            <li><a routerLink="/solicitar" routerLinkActive="active"
                ref="#solicitar">Solicitar
                Servicio</a></li>
          </ul>
        </div>

        <!-- Contacto -->
        <div class="footer-section contact">
          <h3>Contáctenos</h3>
          <ul>
            <li><a
                href="mailto:multiserviciossanborja@gmail.com"> <i class='bx bxs-envelope' ></i> multiserviciossanborja@gmail.com</a></li>
            <li><i class='bx bxs-phone' ></i> 918335596</li>
            <li><i class='bx bxs-map' ></i> Av.Stravinski 221, San Borja 15021</li>
            <li> <i class='bx bxs-time' ></i> Lunes a Sábado de 9am a 5pm</li>
          </ul>
        </div>
      </div>
      <div class="derechos">
        <p> <i class='bx bx-copyright'></i> 2024 Multiservicios Técnicos San Borja. Todos los derechos reservados</p>
      </div>
    </footer>

  </body>
</html>
